@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gradient background */
.gradient-background {
  background-color: rgb(22, 21, 38);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Card Container */
.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  max-width: 500px; 
  overflow: hidden;
}

/* Card Styling */
.card {
  position: absolute;
  transition: transform 0.5s ease;
  width: 300px;
  height: 400px;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(80%); 
  border: 1px solid #333;
  border-radius: 5px;
}

/* Show card sliding in */
.card.slide-in {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Swipe Animation (when card is swiped out) */
.card.swiped-left {
  animation: swipeLeft 0.5s forwards;
}

.card.swiped-right {
  animation: swipeRight 0.5s forwards;
}

@keyframes swipeLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes swipeRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* Buttons Styling */
button {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 10px;
}

button:hover {
  transform: scale(1.1);
}

button:focus {
  outline: none;
}

.swipe-left {
  background: linear-gradient(45deg, #ff0000, #ff7f00);
  border: none;
}

.swipe-right {
  background: linear-gradient(45deg, #00ff00, #00cc99);
  border: none;
}

@keyframes flicker {
  0% {
    text-shadow: 0 0 8px #ffcc00, 0 0 12px #ffcc00, 0 0 18px #ffcc00, 0 0 25px #ffcc00;
  }
  20% {
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00, 0 0 40px #ffcc00;
  }
  40% {
    text-shadow: 0 0 6px #ffcc00, 0 0 10px #ffcc00, 0 0 15px #ffcc00, 0 0 20px #ffcc00;
  }
  60% {
    text-shadow: 0 0 12px #ffcc00, 0 0 18px #ffcc00, 0 0 28px #ffcc00, 0 0 35px #ffcc00;
  }
  80% {
    text-shadow: 0 0 8px #ffcc00, 0 0 12px #ffcc00, 0 0 18px #ffcc00, 0 0 25px #ffcc00;
  }
  100% {
    text-shadow: 0 0 10px #ffcc00, 0 0 15px #ffcc00, 0 0 20px #ffcc00, 0 0 30px #ffcc00;
  }
}

.neon-glow {
  animation: flicker 2s infinite ease-in-out;
  color: white;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to left, #ffcc00, #ffcc00);
  background-clip: text;
  -webkit-background-clip: text; 
  font-size: 4rem; 
  font-weight: bold; 
  margin-top: 30px; 
  margin-bottom: 30px; 
}
